.pokedex-screen {
  background-color: #23b4ff;
  background: linear-gradient(314deg, #23b4ff 10%, #62d9f5 90%);
  border-radius: 20px;
  box-shadow: inset 7px -7px 0px 0px rgb(0 0 0 / 16%), inset -4px 4px 16px 0px rgb(0 0 0 / 36%);
}
