.pokemon-moves-table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    padding: 10px 15px;
    text-align: left;

    &:first-of-type {
      text-align: center;
    }
  }

  thead {
    color: white;
  }

  tbody {
    tr {
      border-bottom: 1px solid #cecece;
    }
  }
}
